.header {
  //position: absolute;
  top: 0;
  width: 100%;
  height: 50px;
  background-color: #b22222;
  &__hamburger {
    position: absolute;
    top: 15px;
    right: 30px;
    height: 21px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    cursor: pointer;
    span {
      display: block;
      width: 30px;
      height: 3px;
      background: #e6e6fa;
    }
    span.long {
      width: 36px;
    }
    &.unactive {
      display: none;
    }
  }

  &__block {
    position: absolute;
    top: 13px;
    right: 30px;
  }
  &__close {
    color: #e6e6fa;
    display: none;
    &.active {
      display: block;
      cursor: pointer;
    }
  }
  &__list {
    display: flex;
    width: 50%;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    position: fixed;
    left: 300px;
    top: -100%;
    margin: 10px auto;
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    transition: all 0.6s;
    &.active {
      top: 0;
      visibility: visible;
      opacity: 1;
    }
  }
  &__link {
    a {
      color: #e6e6fa;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
