@mixin circle {
  &:before {
    content: "";
    position: absolute;
    border-radius: 100%;
    width: 36px;
    height: 36px;
    top: -25%;
    right: 165px;
    z-index: -1;
    background: $main-color;
  }
}
@mixin circleLight {
  &:before {
    content: "";
    position: absolute;
    border-radius: 100%;
    width: 36px;
    height: 36px;
    z-index: -1;
    top: -25%;
    left: -10px;
    background: #b22222;
  }
}
